/* front-page.component.scss */

header {
    background-color: #000;
    color: #ff0;
    text-align: center;
    padding: 20px;

    h1 {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .highlight {
        font-weight: bold;
    }
}

.hi{
    background-color: black;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px); /* Adjust based on your header height */

    .buttons-container {
        display: flex;
        flex-direction: column;
        gap: 20px;

        button {
            background-color: yellow;
            color: #000; /* Black text */
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: purple;
                color:white;
            }
        }
    }
}
