<!-- front-page.component.html -->
<header>
  <h1>Welcome to <span class="highlight">SAFE PAY</span></h1>
</header>
<main class="hi">
  <div class="buttons-container">
      <button class="button" routerLink="/linkbankaccount">Link Bank Account</button>
      <button class="button" routerLink="/pay">Pay</button>
      <button class="button" (click)="navigateToCurrencyConversion()">Currency Conversion</button>
      <button class="button" routerLink="/instantloan">Get Instant Loan</button>
  </div>
</main>
