/* Link Bank Account Form Styles */

.body1 {
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100%;
  }

.link-bank-account-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #000;
    color: #ff0;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.link-bank-account-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
}

.form-group input[type="text"],
.form-group input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: yellow;
    background-color: #333;
    margin-bottom: 15px;
}

.form-group button {
    background-color: purple;
    color: yellow;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-group button:hover {
    background-color: #0056b3;
}

